    body{
        font-family: PingFang SC , STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑",Helvetica, Tahoma, Arial, sans-serif;
        color:#000;
        margin: 0;
        padding: 0;
    }
    img.img{
        height:100%;
    }
    img{
        border:none;
    }

    .fcolor{
        color:#232b36;
    }
    .fcolor01{
        color:#5c708d;
    }
    .color01{
        color:#ff6835;
    }
    .color02{
        color:#f01f88;
    }
    .color03{
        color:#a73ae7;
    }
    .color04{
        color:#fa575c;
    }
    .color05{
        color:#fa2490;
    }
    .color06{
        color:#0785e9;
    }
    .color07{
        color:#ab04e2;
    }
    .color08{
        color:#35aefb;
    }
    .color09{
        color:#12ba65;
    }
    .color10{
        color:#ffae00;
    }
    .color11{
        color:#b0afaf;
    }
    .color12{
        color:#ff336f;
    }
    .color13{
        color:#ff336f;
    }
    .color14{
        color:#1d8d95;
    }
    .color15{
        color:#9a02fe;
    }
    .color16{
        color:#63e3f7;
    }
    .fs30{
        font-size:28px;
    }
    .l30{
        line-height:28px;
    }
