html, body {
        height: 100%;
        max-width: 1920px;
        margin:0 auto;
        background-color:#0b1b2b;
    }

   /* .swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{
        background-color:#5c708d;
    }*/
    .swiper-pagination .swiper-pagination-bullet{
        background-color:#fff;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide.page01{
        background:url("../images/bg.jpg") no-repeat center center;
        background-size:cover;
    }
    .swiper-slide{
        background:url("../images/bg01.jpg") no-repeat center center;
        background-size:cover;
    }
    .content{
        width:640px;
        margin:0 auto;
        padding-top:2%;
    }
    .content>img{
        width:100%;
    }
    .content p span{
        margin-right:-10px;
    }
    .con{
        overflow:hidden;
        padding:0 3%;
        width:94%;
    }
    .con img{
        float:left;
        width:33.3%;
    }
    @media (max-width: 500px) {

    }